params {
            config_profile_description = 'Michigan State University HPC profile provided by nf-core/configs.'
            config_profile_contact = 'John Vusich (@johnvusich)'
            config_profile_url = 'https://github.com/johnvusich/bulk-rnaseq/blob/main/msu.config'
            max_memory = 250.GB
            max_cpus = 40
            max_time = 168.h // One week in hours
        }
        
process {
            executor = 'slurm'
        }
